- if @concerts != []
  .container.location-feed
    %h4= "Concerts near #{current_user.location}"
  - @concerts.each_with_index do |concert, index|
    .container.container-feed
      %h4= formatted_time(concert.start)
      %h2.title-feed= title_for(concert)
      %h4= artists_from(concert.performances)
      %h5= concert.venue.display_name
      / Button to trigger modal
      %a.btn.btn-warning.pull-right{"data-toggle" => "modal", :href => "#myModal#{index}", :role => "button"} Make a Plan
      / Modal
      .modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :id => "myModal#{index}"}
        .modal-body
          = form_tag plans_path do
            %h4.modal-title You are about to make a plan for the following concert.
            %h3.modal-concert= title_for(concert)
            = hidden_field_tag :start, concert.start
            = hidden_field_tag :artists, artists_from(concert.performances)
            = hidden_field_tag :display_name, title_for(concert)
            = hidden_field_tag :venue_name, concert.venue.display_name
            = hidden_field_tag :venue_latitude, concert.venue.lat
            = hidden_field_tag :venue_longitude, concert.venue.lng
            = hidden_field_tag :tickets_url, concert.uri
            = label_tag "What's your plan for this concert?"
            = text_area_tag :description
            = submit_tag "Make a Plan", class: "btn btn-warning pull-right"
            %button.btn.cancel.pull-right{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
- else
  .container.location-feed
    %h4= "We couldn't find any concerts in #{current_user.location}. Try to check other available plans in BandMatch #{link_to "here", plans_path}."