-if @plans.count != 0
  .container.location-feed
    %h4= message_path
  - @plans.each do |plan|
    .container.container-feed
      %h4= formatted_time(plan.start)
      %h2.title-feed= plan.display_name
      %h4= "Plan: #{plan.description}"
      %h5= plan.location_in_words
      .container.friends-feed
        - plan.users.each do |user|
          = image_tag user.image, alt: user.name, class: "img-polaroid"
      - unless @current_user_plans.include?(plan)
        = link_to "Join Plan", join_plan_path(plan.id), method: "PUT", class: "btn btn-warning pull-right"
- else
  .container.location-feed
    %h4 There are no plans yet. Start one by clicking #{link_to "here", concerts_path}.