!!!
%html
  %head
    %title Bandmatch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-top
      .navbar-inner
        .container
          %a.brand BandMatch.
          .nav-collapse.collapse
            %ul.nav.pull-right
              - if current_user
                = link_to "Sign out", signout_path, class: "nav"
              - else
                = link_to "Sign in with Facebook", "/auth/facebook", class: "nav"
    = yield