!!!
%html
  %head
    %title Bandmatch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-top
      .navbar-inner
        .container
          %a.brand BandMatch.
          .nav-collapse.collapse
            - if current_user
              %ul.nav
                = link_to "My Plans", user_plans_path, class: "nav"
              %ul.nav
                = link_to "Near Plans", near_plans_path, class: "nav"
              %ul.nav
                = link_to "All Plans", plans_path, class: "nav"
              %ul.nav
                = link_to "All Concerts", concerts_path, class: "nav"
              %ul.nav.pull-right
                = link_to "Sign out", signout_path, class: "nav"
            - else
              %ul.nav.pull-right
                = link_to "Sign in with Facebook", "/auth/facebook", class: "nav"
    - if flash.notice
      .alert= flash.notice
    = yield