!!!
%html
  %head
    %title Bandmatch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield

  #user_nav
  - if current_user
    Signed in as
    = succeed "!" do
      %strong= current_user.name
    = link_to "Sign out", signout_path, id: "sign_out"
  - else
    = link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"